.Rproj.user/
.Rhistory
.RData
.Ruserdata

/.quarto/
Inputs/PERSONA.sav
Inputs/PERSONA.csv
.Rproj.user/shared/notebooks/paths
.Rproj.user/FB7648D9/bibliography-index/biblio-files
.Rproj.user/FB7648D9/sources/prop/2070C6BA
.Rproj.user/FB7648D9/sources/prop/36EF7F96
.Rproj.user/FB7648D9/sources/prop/B89FA08F
.Rproj.user/FB7648D9/sources/prop/C7B66F0F
.Rproj.user/FB7648D9/sources/prop/D4B2B08E
.Rproj.user/FB7648D9/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
.Rproj.user/FB7648D9/bibliography-index/biblio-files
.Rproj.user/shared/notebooks/paths
